name: Build Container

on: [push]

jobs:
  build:
    name: Push Docker image to Docker Hub
    runs-on: [self-hosted]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
    
      - name: docker login
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login docker.io -u $DOCKER_USERNAME -p $DOCKER_PASSWORD 
    
      # - name: Build the Docker image
      #   run: docker build . --file Dockerfile --tag weepyadmin/plotly:dev
        
      # - name: Docker Push
      #   run: |
      #     docker push weepyadmin/plotly:dev
      #     docker push weepyadmin/plotly:latest
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: weepyadmin/plotly:${{ steps.vars.outputs.tag }}, weepyadmin/plotly:latest