name: Build Container

on: [push]

jobs:
  build:
    name: Push Docker image to Docker Hub
    runs-on: [self-hosted]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
    
      - name: docker login
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login docker.io -u $DOCKER_USERNAME -p $DOCKER_PASSWORD 
    
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v2.x

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: weepyadmin/plotly:${{ env.GITHUB_REF_SLUG }}, weepyadmin/plotly:dev, weepyadmin/plotly:latest