name: Build Container

on: [push]

jobs:
  build:
    name: Push Docker image to Docker Hub
    runs-on: [self-hosted]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
    
      - name: docker login
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD 
    
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag weepytest/plotly:dev
        
      - name: Docker Push
        run: docker push weepytest/plotly